<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseFileName" value="Skillton.Test.mdf" />
		<add key="LogFileName" value="Skillton.Test.log" />
		<add key="ValidatorFirstNameMinLength" value="1" />
		<add key="ValidatorLastNameMinLength" value="2" />
		<add key="ValidatorFirstNameMaxLength" value="50" />
		<add key="ValidatorLastNameMaxLength" value="50" />
		<add key="ValidatorDateOfBirthMinValue" value="01.01.1900" />
		<add key="ValidatorDateOfBirthMaxValue" value="01.01.2020" />
		<add key="ValidatorNameValueValidationMask" value="" />
		<add key="ValidatorEmailValueValidationMask" value="" />
		<add key="ValidatorSalaryMinValue" value="1" />
		<add key="ValidatorSalaryMaxValue" value="999999" />
	</appSettings>
</configuration>